
.container {
    display: flex;
    width: 60%;                    
    background-color: #aaffff;
}

.box1 {
    flex-basis: 100px;
    height: 150px;
    background-color: #cccccc;
    order: 3;
}

.box2 {
    flex-basis: 200px;
    height: 200px;
    background-color: #aaaaaa;
    order: 2;
    flex-shrink: 0;
}

.box3 {
    flex-basis: 150px;
    height: 100px;
    background-color: #888888;
    order: 1;
    flex-grow: 1;
}


